<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
        <title>Voice Assessment</title>
    </head>
    <body class="container">

      <form action="/admintask2" method="post">
        <textarea id="text" name="text" class="form-control bg-dark text-light mt-5" cols="30" rows="10" placeholder="Admin should upload the text"style="width: 700px;"></textarea>
        <button type="submit" class="btn btn-success mt-5 me-3">
          Submit text
        </button>
      </form>

    </body>
</html>